* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-color: red;
}

body {
  background: #252525;
  font-family: "Roboto";
}
body .marcador_header {
  color: aqua;
}
body .nav-link {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
body .nav-item:hover {
  background-color: rgb(245, 182, 8);
}
body .nav-item:hover .marcador_header {
  color: rgb(0, 0, 0);
}

footer {
  background-image: url("../assets/Images/fondo_footer.jpg");
  position: absolute;
  width: 100%;
  height: 430px;
}
footer section h1 {
  text-align: center;
  color: white;
  margin-top: 60px;
}
footer .DatosContacto {
  display: flex;
  flex-direction: rows;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
footer .imgMail {
  margin-top: 50px;
  width: 30px;
  height: 30px;
}
footer .mailDescripcion {
  color: whitesmoke;
  margin-top: 50px;
  font-size: 20px;
}
footer .imgTelefono {
  margin-top: 15px;
  width: 30px;
  height: 30px;
}
footer .telefonoDescripcion {
  color: white;
  margin-top: 26px;
  font-size: 20px;
}
footer .RedesSociales {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  gap: 30px;
  margin-bottom: 0px;
  font-size: 20px;
}
footer .RedesSociales img {
  width: 30px;
  height: 30px;
  margin-top: 45px;
}

.main_index {
  display: flex;
  flex-direction: column;
}

.portada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 600px;
  background-image: url("../assets/Images/portada.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 800px;
}

.TituloPortada {
  color: rgb(255, 255, 255);
  margin-right: 20px;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 350;
  font-style: normal;
  font-size: 30px;
  background-color: orange;
}
.TituloPortada .sub_color_titulo {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 36px;
  font-weight: 400;
}

.divisorio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px grey;
  background-color: rgb(255, 255, 255);
}

.corte {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  background-image: url("../assets/Images/Corte.png");
  width: 100%;
  height: 60px;
  color: white;
  text-align: center;
  font-size: 18px;
  opacity: 70%;
  font-family: "Poppins", sans-serif;
  font-weight: 350;
  font-style: normal;
  font-size: 10px;
  margin-top: 7px;
}
.corte .sub_color_titulo2 {
  color: rgb(255, 102, 0);
  font-family: "Poppins", sans-serif;
  font-style: italic;
}

.cuerpo {
  display: flex;
  flex-direction: row;
  background-image: url(../assets/Images/Fondo\ Claro1.jpeg);
  background-size: cover;
  opacity: 0.9;
  width: 100%;
  height: 410px;
  background-size: 100% 110%;
  font-family: "Poppins", sans-serif;
  font-weight: 350;
  font-style: normal;
  font-size: 30px;
}
.cuerpo .cuerpo h4 {
  margin-top: 50px;
}

.contenedor1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  height: 80%;
  padding: 10px 10px 10px;
  opacity: 100%;
}

.contenedor1 h2 {
  margin-top: 30px;
  margin-left: 10px;
}
.contenedor1 h2 .sub_color_contenedor1 {
  color: green;
}

.contenedor2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  height: 80%;
  padding: 10px 10px 10px;
}

.contenedor2 h2 {
  margin-top: 30px;
  margin-right: 10px;
}

.sub_color_contenedor2 {
  color: rgb(180, 17, 5);
}

.imgGrano {
  width: 85%;
  height: 80%;
  margin-right: 0px;
}

.imgBolsa {
  width: 85%;
  height: 80%;
  margin-right: 0px;
}

.nosotros_main {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  background-image: url(../assets/Images/Fondo\ Web\ 2.png);
}

.nosotros_divisorio1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  gap: 20px;
}

h1 {
  margin-top: 10px;
  color: rgb(196, 62, 13);
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 350;
  font-style: normal;
  font-size: 30px;
  margin-left: 10px;
}

.nosotros_main p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
}
.nosotros_main p span {
  color: rgb(211, 70, 4);
  font-weight: 500;
}

.nosotros_divisorio2 {
  background-image: url("../assets/Images/Produccion operario.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 65%;
  height: 100%;
}

.nosotros_p1 {
  margin-left: 10px;
  font-size: 25px;
}

.nosotros_p2 {
  margin-left: 10px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.nosotros_p3 {
  margin-left: 10px;
  font-size: 25px;
}

.nosotros_Divisorio2 img {
  width: 90%;
  height: 98%;
}

.Contacto_Main {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  background-image: url(../assets/Images/Fondo\ Web\ 2.png);
  background-position: center;
}

.Contacto_Main h1 {
  margin-top: 10px;
  margin-left: 18px;
  color: rgb(196, 62, 13);
}

.Contacto_Divisorio1 {
  display: flex;
  flex-direction: column;
  width: 34%;
  height: 100%;
}

.Contacto_Divisorio2 {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 100%;
}

.Contacto_Divisorio3 {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 100%;
  font-size: 25px;
}

.Contacto_Divisorio1 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  margin-left: 75px;
  margin-top: 75px;
}

.Contacto_Divisorio1 div h2 {
  margin-top: 20px;
  color: white;
}

.Contacto_Divisorio2 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  background-color: transparent;
  margin-left: 75px;
  margin-top: 120px;
}

.Contacto_Divisorio2 div h2 {
  margin-top: 20px;
}

.Contacto_Soporte {
  color: rgb(199, 20, 20);
}

.main_grid {
  grid-template-areas: "grid_1 grid_2 grid_3" "grid_4 grid_4 grid_4";
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 300px, 400px;
  height: 800px;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
  background-color: rgb(242, 243, 243);
  background-image: url(../assets/Images/Fondo\ Claro1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  padding-top: 100px;
  padding-bottom: 10px;
}

.grid_item1 {
  grid-area: grid_1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: orangered;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
}

.contacto_ubicacion {
  color: white;
}

.grid_item2 {
  grid-area: grid_2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
}

.grid_item3 {
  grid-area: grid_3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
}

.grid_item4 {
  grid-area: grid_4;
  display: flex;
  flex-direction: row;
}

.Contacto_Soporte, .contacto_ubicacion, .contacto_letra {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
}

.productos_main {
  width: 100%;
  height: 1500px;
  background-image: url(../assets/Images/Fondo\ Claro1.jpeg);
  background-position: center;
}

.productos_divisorio0 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  margin-left: 20px;
}

.productos_divisorio0 h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  color: rgb(196, 62, 13);
  margin-top: 20px;
}

.productos_divisorio1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
}

.productos_divisorio1_imagen {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 400px;
  padding: 20px 20px 20px 20px;
}

.productos_divisorio1_texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  padding: 20px 20px 20px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
}

.resaltar {
  color: rgb(196, 62, 13);
  font-weight: 400;
}

.Multimedia_main {
  width: 100%;
  height: 849px;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/Images/Fondo\ Web\ 2.png);
  background-position: center;
  background-size: cover;
  justify-content: center;
}

.Multimedia_main section h1 {
  margin-top: 10px;
  margin-left: 25px;
  color: rgb(196, 62, 13);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
}

.Multimedia_main section h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-top: 10px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 28px;
  background-image: url("../assets/Images/Fondo oscuro3.jpeg");
  background-color: rgb(5, 119, 172);
  padding: 5px 5px 5px 5px;
}

.Multimedia_main section {
  width: 100%;
  height: 445px;
}

.Videos_Circuito_Productivo {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}

.lines2 {
  margin-top: 80px;
  width: 100%;
  height: 2px;
  background-color: orangered;
}

@media (max-width: 1228px) {
  .Videos_Circuito_Productivo iframe {
    width: 300px;
    height: 150px;
  }
}
@media (max-width: 1149px) {
  .productos_divisorio1_imagen {
    padding: 10px 10px 10px 10px;
  }
  .productos_divisorio1_texto {
    font-size: 14px;
  }
}
@media (max-width: 961px) {
  .productos_main {
    height: 1900px;
  }
  .productos_divisorio1 {
    flex-direction: column;
    margin-bottom: 0px;
  }
  .productos_divisorio1_imagen {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  .productos_divisorio1_imagen img {
    width: 70%;
    height: 300px;
  }
  .productos_divisorio1_texto {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;
    text-align: center;
    text-justify: auto;
    height: 300px;
    width: 100%;
    padding: auto;
    font-size: 16px;
  }
  h2 {
    font-size: 20px;
  }
  .main_grid {
    width: 100%;
  }
  .grid_item1 {
    width: 200px;
    margin-left: 100px;
  }
  .contacto_ubicacion {
    font-size: 20px;
  }
  .grid_item2 {
    width: 200px;
    margin-left: 50px;
    font-size: 5px;
  }
  .grid_item3 {
    width: 200px;
  }
  .grid_item4 {
    width: 760px;
    margin-left: 100px;
  }
  .Multimedia_main {
    height: 1570px;
  }
  .Multimedia_main section h1 {
    font-size: 30px;
  }
  .Multimedia_main section {
    height: 800px;
  }
  .Videos_Circuito_Productivo {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    gap: 10px;
  }
  .Videos_Circuito_Productivo iframe {
    width: 400px;
    height: 250px;
  }
}
@media (max-width: 948px) {
  .portada {
    justify-content: flex-start;
    align-items: flex-end;
  }
  .TituloPortada {
    margin-top: 20px;
    font-size: 18px;
    background-color: orange;
  }
  .TituloPortada .sub_color_titulo {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .barra_navegacion li a {
    color: white;
  }
  .div_menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .barra_navegacion {
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
  }
  .nav label {
    display: inline-flex;
    cursor: pointer;
  }
  .nav {
    height: 100%;
    position: absolute;
  }
  .contenedor1 h2, .contenedor2 h2 {
    font-size: 16px;
  }
  .corte {
    font-size: 15px;
  }
  .nosotros_divisorio1 h1 {
    font-size: 20px;
  }
  .nosotros_divisorio1 p {
    font-size: 15px;
  }
  .main_grid {
    margin-left: 0;
  }
  .grid_item1 {
    width: 150px;
    margin-left: 200px;
  }
  .contacto_ubicacion {
    font-size: 10px;
  }
  .grid_item2 {
    width: 150px;
    margin-left: 100px;
  }
  .grid_item3 {
    width: 150px;
    margin-right: 300px;
  }
  .grid_item4 {
    width: 600px;
    margin-left: 200px;
  }
  .contacto_ubicacion, .Contacto_Soporte {
    font-size: 13px;
  }
  .contacto_letra {
    font-size: 13px;
  }
}
@media (max-width: 666px) {
  .productos_divisorio0 {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 0px;
  }
  .productos_divisorio0 h1 {
    font-size: 20px;
    text-align: center;
  }
  .productos_divisorio1_imagen img {
    width: 100%;
    height: 100%;
  }
  .productos_divisorio1_texto {
    font-size: 14px;
    gap: 5;
  }
  .main_grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    height: 1300px;
  }
  .grid_item1 {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    margin-left: 0;
  }
  .contacto_ubicacion {
    font-size: 20px;
  }
  .grid_item2 {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    margin-left: 0;
  }
  .grid_item3 {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    margin-right: 0;
  }
  .grid_item4 {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    margin-left: 0;
  }
  .contacto_ubicacion, .Contacto_Soporte {
    font-size: 20px;
  }
  .contacto_letra {
    font-size: 20px;
  }
}
@media (max-width: 490px) {
  .main_index {
    height: 600px;
  }
  .TituloPortada .sub_color_titulo {
    font-size: 15px;
  }
  .portada {
    background-position-y: 10px;
    align-items: center;
  }
  .TituloPortada {
    margin-top: 12px;
  }
  .imgBolsa {
    height: 250px;
  }
}
@media (max-width: 470px) {
  .corte {
    font-size: 12px;
  }
  .logo {
    width: 150px;
  }
  .cuerpo {
    height: 500px;
  }
  .contenedor1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
  }
  .contenedor2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .nosotros_divisorio1 p {
    font-size: 12px;
  }
  .productos_main {
    height: 1780px;
  }
  .productos_divisorio1_imagen {
    height: 200px;
  }
  .productos_divisorio1_texto {
    height: 350px;
  }
  .productos_divisorio1_imagen img {
    height: 100%;
    width: 100%;
  }
  .Multimedia_main section h1 {
    text-align: center;
    margin-right: 25px;
    margin-top: 45px;
  }
  .Multimedia_main section h3 {
    margin-top: 60px;
  }
  .Videos_Circuito_Productivo iframe {
    width: 300px;
    height: 150px;
  }
}
@media (max-width: 384px) {
  .contenedor1 h2, .contenedor2 h2 {
    font-size: 13px;
  }
  .imgBolsa {
    height: 150px;
  }
}
@media (max-width: 371px) {
  .portada {
    align-items: center;
  }
  .TituloPortada {
    font-size: 12px;
    margin-top: 14px;
  }
  .corte h2 {
    font-size: 15px;
  }
  .contenedor1 h2 {
    font-size: 13px;
    text-align: left;
    margin-left: 0;
  }
  .contenedor2 h2 {
    font-size: 13px;
    text-align: right;
    margin-right: 0px;
  }
}
@media (max-width: 320px) {
  .header_index {
    box-shadow: 1px 1px 1px 1px grey;
  }
  .portada {
    align-items: center;
    background-size: cover;
    background-position: left;
  }
  .portada h1 {
    margin-top: 3px;
    margin-left: 20px;
    width: 100%;
    text-align: center;
  }
  footer {
    font-size: 12px;
  }
}

/*# sourceMappingURL=styles.css.map */
