@media (max-width: 1228px){
  .Videos_Circuito_Productivo iframe{
    width: 300px;
    height: 150px;;
  }
}
@media(max-width : 1149px){
  .productos_divisorio1_imagen{
    padding: 10px 10px 10px 10px;
  }
  .productos_divisorio1_texto{
    font-size: 14px;
  }
}
@media (max-width: 961px) { 
  .productos_main{
    height: 1900px;
  }
  .productos_divisorio1{
    flex-direction: column;
    margin-bottom: 0px;
  }
  .productos_divisorio1_imagen{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  .productos_divisorio1_imagen img{
    width: 70%;
    height: 300px;
  }
  .productos_divisorio1_texto{
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin-top: 0px;
    text-align: center;
    text-justify:auto;
    height: 300px;
    width: 100%;
    padding: auto;
    font-size: 16px;
  }
  h2{
    font-size: 20px;
  }
  .main_grid{
    width: 100%;
  }
    .grid_item1 {
      width: 200px;
      margin-left: 100px;
    }
      .contacto_ubicacion{
        font-size: 20px;
    }
    .grid_item2 {
      width: 200px;
      margin-left: 50px;
      font-size: 5px;
    }
    .grid_item3 {
      width: 200px;
    }
    .grid_item4 {
      width: 760px;
      margin-left: 100px
    }
    .Multimedia_main{
      height: 1570px;
    }
    .Multimedia_main section h1{
      font-size: 30px;
    }
    .Multimedia_main section{
      height: 800px;
    }
    .Videos_Circuito_Productivo{
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 600px;
      gap: 10px;
    }
    .Videos_Circuito_Productivo iframe{
      width: 400px;
      height: 250px;;
    }
  }
  @media (max-width: 948px) {
    .portada {
      justify-content: flex-start;
      align-items: flex-end;
    }
    .TituloPortada {
      margin-top: 20px;
      font-size: 18px;
      background-color: orange;
    }
    .TituloPortada .sub_color_titulo{   
      font-size: 20px;
    }
  }
  @media (max-width: 768px) {
    .barra_navegacion li a {
      color: white;
    }
    .div_menu {
      width: 100%;
      height: 0;
      overflow: hidden;
    }
    .barra_navegacion {
      flex-direction: column;
      align-items: center;
      padding: 8px 0;
    }
    .nav label {
      display: inline-flex;
      cursor: pointer;
    }
    .nav {
      height: 100%;
      position: absolute;
    }
    .contenedor1 h2, .contenedor2 h2 {
      font-size: 16px;
    }
    .corte {
      font-size: 15px;
    }
    .nosotros_divisorio1 h1 {
      font-size: 20px;
    }
    .nosotros_divisorio1 p {
      font-size: 15px;
    }
    .main_grid{
      margin-left: 0;
    }
    .grid_item1 {
      width: 150px;
      margin-left: 200px;
    }
      .contacto_ubicacion{
        font-size: 10px;
    }
    .grid_item2 {
      width: 150px;
      margin-left: 100px;
    }
    .grid_item3 {
      width: 150px;
      margin-right: 300px;
    }
    .grid_item4 {
      width: 600px;
      margin-left: 200px
    }
    .contacto_ubicacion,.Contacto_Soporte{
      font-size: 13px;
    }
    .contacto_letra{
      font-size: 13px;
    }
  }

  @media (max-width: 666px)
  {
    .productos_divisorio0{
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-left: 0px
    }
    .productos_divisorio0 h1{
      font-size: 20px;
      text-align: center;
    }
    .productos_divisorio1_imagen img{
      width: 100%;
      height: 100%;
    }
    .productos_divisorio1_texto{    
      font-size: 14px;
      gap: 5;
    }
    .main_grid{
      
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;
      margin-left: 0;
      height: 1300px
    }
    .grid_item1 {
      display: flex;
      flex-direction: column;
      width: 300px;
      height: 500px;
      margin-left: 0;
      
    }
      .contacto_ubicacion{
        font-size: 20px;   
    }
    .grid_item2 {
      display: flex;
      flex-direction: column;
      width: 300px;
      height: 500px;
      margin-left: 0;
    }
    .grid_item3 {
      display: flex;
      flex-direction: column;
      width: 300px;
      height: 500px;
      margin-right: 0;
    }
    .grid_item4 {
      display: flex;
      flex-direction: column;
      width: 300px;
      height: 500px;
      margin-left: 0;
    }
    .contacto_ubicacion,.Contacto_Soporte{
      font-size: 20px;
    }
    .contacto_letra{
      font-size: 20px;
    }
    
  }
  @media (max-width: 490px) {
    .main_index {
      height: 600px;
    }
    .TituloPortada .sub_color_titulo{   
      font-size: 15px;      
    }
    .portada {
      background-position-y: 10px;
      align-items: center;
    }
    .TituloPortada {
      margin-top: 12px;
    }
    .imgBolsa{
      height: 250px;
    }
  }
  @media (max-width: 470px) {
    .corte {
      font-size: 12px;
    }
    .logo {
      width: 150px;
    }
    .cuerpo {
      height: 500px;
    }
    .contenedor1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 0px;
    }
    .contenedor2 {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
    .nosotros_divisorio1 p {
      font-size: 12px;
    }
    .productos_main{
      height: 1780px;
    }
    .productos_divisorio1_imagen{
      height: 200px;
      
    }
    .productos_divisorio1_texto{
      height: 350px;
    }
    .productos_divisorio1_imagen img{
      height: 100%;
      width: 100%;
    }
    .Multimedia_main section h1{
      text-align: center;
      margin-right: 25px;
      margin-top: 45px;
    }
    .Multimedia_main section h3{
      margin-top: 60px;
    }
    .Videos_Circuito_Productivo iframe{
      width: 300px;
      height: 150px;;
    }
  }
  @media (max-width: 384px){
    .contenedor1 h2 , .contenedor2 h2{
      font-size: 13px;
    }
    .imgBolsa{
      height: 150px;
    }
    

  }
  @media (max-width: 371px) {
    .portada {
      align-items: center;
    }
    .TituloPortada {
      font-size: 12px;
      margin-top: 14px;
    }
    .corte h2 {
      font-size: 15px;
    }
    .contenedor1 h2 {
      font-size: 13px;
      text-align: left;
      margin-left: 0;
    }
    .contenedor2 h2 {
      font-size: 13px;
      text-align: right;
      margin-right: 0px;
    }
  }
  @media (max-width: 320px) {
    .header_index {
      box-shadow: 1px 1px 1px 1px grey;
    }
    .portada {
      align-items: center;
      background-size: cover;
      background-position: left;
    }
    .portada h1 {
      margin-top: 3px;
      margin-left: 20px;
      width: 100%;
      text-align: center;
    }
    footer {
      font-size: 12px;
    }
  }
