$color_titulo : rgb(196, 62, 13);

.productos_main {
    width: 100%;
    height: 1500px;
    background-image: url(../assets/Images/Fondo\ Claro1.jpeg);
    background-position: center;
  }
  .productos_divisorio0 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    margin-left: 20px;
  }
  .productos_divisorio0 h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    color: $color_titulo;
    margin-top: 20px;
  }
.productos_divisorio1{
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
  }
  .productos_divisorio1_imagen {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
    padding: 20px 20px 20px 20px;
  }
  .productos_divisorio1_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    padding: 20px 20px 20px 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 17px;
  }
  .resaltar{
    color: rgb(196, 62, 13);
    font-weight: 400;
  }
  